.svg-sprite {
  width: inherit;
  height: inherit;
  fill: inherit;
}

.svg-sprite-menu {
  width: 24px;
  height: 24px;
  fill: $white;
}

.svg-sprite-meat {
  width: 77px;
  height: 69px;

  @media (min-width: $screen-sm) {
    width: 97px;
    height: 89px;
  }
}

.svg-sprite-hand {
  width: 63px;
  height: 75px;

  @media (min-width: $screen-sm) {
    width: 73px;
    height: 85px;
  }
}

.svg-sprite-natural {
  width: 78px;
  height: 65px;

  @media (min-width: $screen-sm) {
    width: 88px;
    height: 75px;
  }
}

.svg-sprite-burger {
  width: 46px;
  height: 44px;
  fill: $white;
}

.svg-sprite-kkal {
  width: 60px;
  height: 60px;
  fill: $white;
  opacity: 0.5;
}

.svg-sprite-vk {
  width: 23px;
  height: 13px;
  fill: $white;
}

.svg-sprite-fb {
  width: 20px;
  height: 20px;
  fill: $white;
}

.svg-sprite-inst {
  width: 20px;
  height: 20px;
  fill: $white;
}

.svg-sprite-twitter {
  width: 20px;
  height: 16px;
  fill: $white;
}


.svg-sprite-beef {
  width: 44px;
  height: 39px;
  fill: $color2;
}

.svg-sprite-buns {
  width: 48px;
  height: 30px;
  fill: $color3;
}

.svg-sprite-salad {
  width: 38px;
  height: 38px;
  fill: $color5;
}

.svg-sprite-sauce {
  width: 41px;
  height: 43px;
  fill: $color2;
}

.svg-sprite-cucumber {
  width: 43px;
  height: 37px;
  fill: $color5;
}

.svg-sprite-cheese {
  width: 39px;
  height: 34px;
  fill: $color3;
}