// Индивидуальные базовые стили для конкретного проекта в соответствии
// с его UI-китом.
//
// Пример
.button {
  display: inline-block;
  vertical-align: top;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 10px 15px;

  color: $white;
  font-family: $font-basic;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  text-transform: uppercase;
  background-color: $color2;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: $white;
    background-color: darken($color2, 5%);
  }

  &:focus {
    color: $white;
    background-color: $color2;
  }

  &:active {
    color: $white;
    background-color: $color2;
  }
}

textarea {
  padding: 10px 20px;
  outline: none;
  border: 1px solid #d1cfcb;
  background-color: $white;
  border-radius: 5px;
  color: #2f3234;
}

input {
  height: 35px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  border: 1px solid #d1cfcb;
  background-color: $white;
  border-radius: 5px;
  color: #2f3234;
  transition: 0.3s;

  &:hover {
    border: 1px solid #f9b43b;
  }

  &:focus {
    border: 1px solid #f9b43b;
  }

  &:active {
    border: 1px solid #f9b43b;
  }
}

// Стили для чекбоксов и радиокнопок
// Для работы кладем i после кнопки внутрь label
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
  position: relative;
  width: 15px;
  height: 15px;
  background-color: $white;
}

input[type="checkbox"]:checked + i::after {
  content: "";
  display: block;
  width: 9px;
  height: 6px;
  position: absolute;
  top: 3px;
  left: 3px;
  border-left: 2px solid $color4;
  border-bottom: 2px solid $color4;
  transform: rotate(-45deg);
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
  position: relative;
  width: 15px;
  height: 15px;
  background-color: $white;
  border-radius: 50%;
}

input[type="radio"]:checked + i::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: $color4;
  border-radius: 50%;
}
