// ################ COLORS START ################
//
$white: #ffffff;
$black: #000000;
//
$color1: $black;
$color2: #e45028;
$color3: #f9b43b;
$color4: #e25028;
$color5: #8ac03e;
// prettier-ignore
$color6:  linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
$color7: #2f3234;
//
// ################ COLORS END ################
// ################ FONTS START ################
//
$font-basic: Ubuntu, Arial, sans-serif;
$font1: Lifehack, Arial, sans-serif;
$font2: Gagalin, Arial, sans-serif;
$font3: $font-basic;
//
$font-size-body: 14px;
$font-size: 1rem;
$line-height: 1.2;
//
// ################ FONTS END ################
// ################ ADAPTIVE START ################
//
$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1024px;
//
// ################ ADAPTIVE END ################
// ################ OTHER START ################
// ################ OTHER END ################
