section.section.best
  .best__content
    h2.section__title.best__title Мы лучшие
    ul.best__list
      li.best__item
        .best__image.best__image--meat
          +svg("meat")
        .best__descr
          b.best__subtitle 100% свежее мясо
          p.best__text Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.
      li.best__item
        .best__image.best__image--hand
          +svg("hand")
        .best__descr
          b.best__subtitle Ручная сборка
          p.best__text Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Первое полустишие притягивает сюжетный реформаторский пафос.
      li.best__item
        .best__image.best__image--natural
          +svg("natural")
        .best__descr
          b.best__subtitle Натуральные ингредиенты
          p.best__text Драма представляет собой деструктивный цикл. Анапест представляет собой анапест.