footer.footer
  .container.footer__container
    .footer__info
      span.footer__address Санкт-Петербург, ул.Бабушкина, д.12/1, 15
      a(href="tel:#").footer__phone +7 (812) 377-13-77
    .footer__socials
      ul.footer__socials-list
        li.footer__socials-item
          a(href="#").footer__socials-link.footer__socials-link--vk
            +svg("vk")
        li.footer__socials-item
          a(href="#").footer__socials-link.footer__socials-link--fb
            +svg("fb")
        li.footer__socials-item
          a(href="#").footer__socials-link.footer__socials-link--inst
            +svg("inst")
        li.footer__socials-item
          a(href="#").footer__socials-link.footer__socials-link--twitter
            +svg("twitter")
