header.header
  nav.container.header__nav
    .header__logo
      img(src="img/svg/logo.svg", alt="Burgers").header__logo-img
    .header__content
      .header__menu-wrapper
        button(type="button").header__menu-close
        ul.header__menu
          li.header__menu-item
            a(href="#s-welcome").header__menu-link О нас
          li.header__menu-item
            a(href="#s-burgers").header__menu-link Бургеры
          li.header__menu-item
            a(href="#s-team").header__menu-link Команда
          li.header__menu-item
            a(href="#s-menu").header__menu-link Меню
          li.header__menu-item
            a(href="#s-reviews").header__menu-link Отзывы
          li.header__menu-item
            a(href="#s-map").header__menu-link Контакты
      a(href="#s-delivery").button.header__buy Заказать
      button(type="button").header__burger
        +svg("menu")
  ul.header__switcher
    li.header__switcher-item.header__switcher-item--active
    li.header__switcher-item
    li.header__switcher-item
    li.header__switcher-item
    li.header__switcher-item
    li.header__switcher-item
    li.header__switcher-item