section.section.menu
  h2.section__title.menu__title Меню
  .menu__content
    ul.menu__list
      li.menu__item
        div.menu__tab.menu__tab--1
          b.section__title.menu__subtitle Для мясоедов
        div.menu__pane
          p.menu__descr Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque quia doloremque quod nisi ad! Vitae cum ipsa quae consequatur nostrum sapiente in, saepe esse repellat ullam, tempora recusandae eos architecto maxime repellendus, tempore nesciunt sunt. At soluta enim similique? Numquam!
          p.menu__descr Lorem ipsum dolor sit amet consectetur, adipisicing elit. At rerum repellendus quibusdam odio sapiente porro blanditiis numquam illo alias. Similique dolore itaque voluptas iure fugit fugiat cumque neque doloribus ex vitae. Unde est natus ullam autem! Aperiam nihil repellat odio, magnam doloribus veniam.
      li.menu__item
        div.menu__tab.menu__tab--2
          b.section__title.menu__subtitle Вегетарианское
        div.menu__pane
          p.menu__descr Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову, однако механизм сочленений неустойчив. Модальность высказывания, как справедливо считает И.Гальперин, пространственно выбирает метр.
          p.menu__descr Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову.
      li.menu__item
        div.menu__tab.menu__tab--3
          b.section__title.menu__subtitle Диетическое
        div.menu__pane
          p.menu__descr Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium voluptas quod harum enim voluptatem? Commodi assumenda sequi odit saepe delectus voluptatibus quasi rem doloremque dolorem corporis, nostrum eligendi expedita voluptate nesciunt minima neque natus, dolores odio aspernatur molestias incidunt autem libero. Voluptatum sapiente beatae maiores laborum vel nemo culpa reprehenderit.
          p.menu__descr Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas excepturi similique corporis sapiente quo maiores incidunt ut amet numquam recusandae.
