section.section.reviews#s-reviews
  ul.reviews__list
    li.reviews__item(style="background-image: url(img/reviews/review-1.jpg)")
      .reviews__content
        b.reviews__name Ирина Вишницкая
        p.reviews__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus illo, at blanditiis quibusdam rerum voluptas eum quae odio facilis beatae. lorem*20
        button(type="submit").reviews__read-more Подробнее
    li.reviews__item(style="background-image: url(img/reviews/review-2.jpg)")
      .reviews__content
        b.reviews__name Константин Спилберг
        p.reviews__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
        button(type="submit").reviews__read-more Подробнее
    li.reviews__item(style="background-image: url(img/reviews/review-3.jpg)")
      .reviews__content
        b.reviews__name Катя
        p.reviews__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non id, adipisci, ipsum dicta recusandae assumenda debitis exercitationem consequuntur nobis cum beatae illo!
        button(type="submit").reviews__read-more Подробнее
    li.reviews__item(style="background-image: url(img/reviews/review-4.jpg)")
      .reviews__content
        b.reviews__name Иван
        p.reviews__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio quod laboriosam repellendus rem quaerat porro, totam libero facilis quae quidem est minus illo?
        button(type="submit").reviews__read-more Подробнее
    li.reviews__item(style="background-image: url(img/reviews/review-5.jpg)")
      .reviews__content
        b.reviews__name Паша
        p.reviews__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, nulla.
        button(type="submit").reviews__read-more Подробнее
    li.reviews__item(style="background-image: url(img/reviews/review-6.jpg)")
      .reviews__content
        b.reviews__name Екатерина Вольт
        p.reviews__text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id architecto soluta atque dolorem facere aut quod in cum, consequuntur modi.
        button(type="submit").reviews__read-more Подробнее
    li.reviews__item(style="background-image: url(img/reviews/review-7.jpg)")
      .reviews__content
        b.reviews__name Анатолий Сергеевич
        p.reviews__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea minus eligendi distinctio sunt, magnam totam officiis itaque. Repudiandae.
        button(type="submit").reviews__read-more Подробнее
    li.reviews__item(style="background-image: url(img/reviews/review-8.jpg)")
      .reviews__content
        b.reviews__name Якобс Никсон
        p.reviews__text Просто обожаю Far Cry 5.
        button(type="submit").reviews__read-more Подробнее