section.section.team
  .team__content
    h2.section__title.team__title команда
    ul.team__list
      li.team__guy
        b.team__guy-name Дэниэл Редклиф
        .team__guy-info
          img(src="img/team/guy-1.jpg", alt="").team__guy-photo
          dib.team__guy-descr
            b.team__guy-position Шеф-повар
            p.team__guy-about Настоящий мастер своего дела.
      li.team__guy
        b.team__guy-name Ричард Джеймс
        .team__guy-info
          img(src="img/team/guy-2.jpg", alt="").team__guy-photo
          dib.team__guy-descr
            b.team__guy-position Оператор
            p.team__guy-about С радостью поможет подобрать идеальный бургер и оформить заказ.  
      li.team__guy
        b.team__guy-name Джейк Финн
        .team__guy-info
          img(src="img/team/guy-3.jpg", alt="").team__guy-photo
          dib.team__guy-descr
            b.team__guy-position Бухгалтер
            p.team__guy-about Решит любые финансовые вопросы.
      li.team__guy
        b.team__guy-name Николай Иванов
        .team__guy-info
          img(src="img/team/guy-4.jpg", alt="").team__guy-photo
          dib.team__guy-descr
            b.team__guy-position Директор
            p.team__guy-about Выслушает все ваши притензии. 


