section.section.welcome
  .welcome__content
    .welcome__burger
      img(src="img/welcome-burger.png", alt="Мы делаем бургеры").welcome__burger-img
    .welcome__info
      h1.section__title.welcome__title Мы делаем
      p.welcome__descr натуральные бургеры
  button(type="button").welcome__read-more