extends ../template/_layout

block vars
  - var title = "Burgers";


block content 

  .pages-wrapper
  
    .pages

      //- Начальный экран
      include ../components/welcome
      //- Мы лучшие
      include ../components/best
      //- Слайдер с бургерами
      include ../components/burgers
      //- Команда
      include ../components/team
      //- Меню
      include ../components/menu
      //- Отзывы
      include ../components/reviews
      //- Форма заказа доставки
      include ../components/delivery
      //- Карта
      include ../components/map