.scripts(style="display: none")
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="js/app.min.js")

//- ↓↓↓↓↓↓↓ Разкоммитить при подключении svg-спрайита ↓↓↓↓↓↓↓

.svg-sprite(style="display: none") 
  include ../../../build/img/symbol/svg-sprite.svg