.burgers {
  display: block;
  background-color: #f9b43b;
  background-image: linear-gradient(
    to top,
    #f9b43b 0%,
    #eb8c38 48%,
    #f9b43b 74%,
    #f9b43b 100%
  );
  padding: 50px 10px;
  &__slider {
    display: block;
  }
  &__slide {
    display: block;
  }
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__composition {
    display: block;
    width: 91px;
    height: 90px;
    padding: 12px 20px;
    background-color: rgba($color4, 0.4);
    border-radius: 5px;
  }
  &__composition-btn {
    display: block;
    span {
      display: block;
      color: $white;
      font-family: $font2;
      font-size: 14px;
      font-weight: 400;
      line-height: 28.12px;
    }
  }
  &__kkal {
    display: block;
    position: relative;
  }
  &__kkal-count {
    display: block;
    position: absolute;
    top: 29px;
    left: 14px;
    color: rgba($white, 0.5);
    font-family: $font2;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.02px;
  }
  &__kkal-text {
    display: block;
    position: absolute;
    top: 60px;
    left: 15px;
    color: rgba($white, 0.5);
    font-family: $font2;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.02px;
  }
  &__composition-popup {
    display: none;
  }
  &__composition-close {
    display: block;
  }
  &__composition-list {
    display: block;
  }
  &__composition-item {
    display: block;
  }
  &__composition-name {
    display: block;
  }
  &__composition-count {
    display: block;
  }
  &__burger {
    display: block;
    width: 300px;
    height: 190px;
    margin: 0 auto 26px auto;
    @media (min-width: $screen-sm) {
      width: 404px;
      height: 263px;
    }
  }
  &__burger-img {
    display: block;
  }
  &__title {
    display: block;
    max-width: 300px;
    margin: 0 auto 35px auto;
    color: $white;
    line-height: 52.64px;
  }
  &__text {
    display: block;
    margin-bottom: 16px;
    color: $white;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.02px;
    text-align: center;
  }
  &__price {
    display: block;
    text-align: center;
  }
  &__amount {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    color: $color4;
    font-family: $font2;
  }
  &__amount-count {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 7px;
    font-size: 50px;
    letter-spacing: -1.25px;
  }
  &__amount-text {
    display: inline-block;
    vertical-align: baseline;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.24px;
    letter-spacing: -0.6px;
  }
  &__buy {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
  }
}
