.header {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  &__logo {
    display: block;
    position: relative;
    z-index: 22;

    &--fixed {
      position: fixed;
      top: 20px;
    }
  }

  &__content {
    display: block;
  }

  &__logo-img {
    display: block;
    width: 92px;
    height: 69px;
  }

  &__menu-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    overflow: hidden;

    &--active {
      display: block;
      background-color: rgba($color7,  0.99);
    }

    @media (min-width: $screen-lg) {
        display: inline-block;
        vertical-align: middle;
        position: static;
        overflow: auto;
        margin-right: 15px;
    }
  }

  &__menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: $screen-lg) {
      position: static;
      transform: none;
    }
  }

  &__menu-close {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 0;
    
    &::before,
    &::after {
      content: "";
      display: block;
      height: 25px;
      width: 3px;
      position: absolute;
      top: 5px;
      right: 15px;
      background-color: rgba($white, 0.7);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    @media (min-width: $screen-lg) {
       display: none;
    }
  }

  &__menu-item {
    display: block;
    position: relative;
    text-align: center;

    &:not(:last-child) {
      padding: 0 0 15px 0;
      margin:  0 0 7px 0;

      &:after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -4px;
        background-color: $white;
        border-radius: 50%;
      }
    }

    @media (min-width: $screen-sm) {

      &:not(:last-child) {
        padding: 0 0 35px 0;
        margin:  0 0 25px 0;
      }
    }

    @media (min-width: $screen-lg) {
      display: inline-block;
      vertical-align: top;

      &:not(:last-child) {
        padding: 0 20px 0 0;
        margin: 0 15px 0 0;

        &:after {
          content: "";
          display: block;
          width: 4px;
          height: 4px;
          position: absolute;
          top: 50%;
          right: 0;
          left: auto;
          bottom: auto;
          margin-top: -2px;
          margin-left: 0;
          background-color: $white;
          border-radius: 50%;
        }
      }
    }
  }

  &__menu-link {
    display: block;
    color: $white;
    font-size: 24px;
    font-weight: 400;
    line-height: 40.01px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;

    &:focus,
    &:active,
    &:hover {
      color: $white;
    }

    @media (min-width: $screen-lg) {
      font-size: 13px;
      font-weight: 500;
      line-height: 30px;

      &:hover {
         color: $color2;
      }
    }
  }

  &__buy {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
  }

  &__burger {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 22px;

    @media (min-width: $screen-lg) {
       display: none;
    }
  }

  &__switcher {
    display: block;
  }

  &__switcher-item {
    display: block;

    &--active {
    }
  }
}
