.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  padding: 0;

  background-image: url("../img/menu-bg-small.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-width: $screen-lg) {
    background-image: url("../img/menu-bg.jpg");
  }

  &__title {
    display: block;
    position: absolute;
    top: 114px;
    left: 23px;
    color: $white;

    @media (min-width: $screen-lg) {
      left: 94px;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    margin: 0;
    margin-left: 30%;

    @media (min-width: $screen-lg) {
      width: 70%;
    }
  }

  &__item {
    display: block;
    position: relative;
    flex-grow: 0;
    transition: 0.4s;
    overflow: hidden;
    
    &--active {
      flex-grow: 1;
    }
  }

  &__tab {
    display: block;
    position: relative;
    height: 100%;
    width: 65px;
    z-index: 2;
    transition: 0.3s;
    cursor: pointer;

    @media (min-width: $screen-sm) {
      width: 80px;
    }
    
    @media (min-width: $screen-lg) {
      height: 100%;
      min-height: 640px;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      transition: 0.3s;
    }

    &:hover::after {
      background-color: rgba(0, 0, 0, 0.4);
    }

    &--1 {
      background-image: url("../img/menu/menu-tab-1-mobile.jpg");
    }

    &--2 {
      background-image: url("../img/menu/menu-tab-2-mobile.jpg");
    }

    &--3 {
      background-image: url("../img/menu/menu-tab-3-mobile.jpg");
    }
  }

  &__subtitle {
    display: block;
    position: absolute;
    z-index: 2;
    height: 65px;
    width: 290px;
    z-index: 2;
    bottom: 158px;
    right: -117px;

    color: $white;
    white-space: nowrap;
    transform: rotate(270deg);

    @media (min-width: $screen-sm) {
      width: 80px;
      bottom: 90px;
      right: -4px;
    }

    @media (min-width: $screen-lg) {
      font-size: 40px;
      font-weight: 400;
      line-height: 63.75px;
      bottom: 70px;
    }
  }

  &__pane {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 60px 35px 60px 120px;
    background-color: rgba(#2f3234, 0.93);
    transition: 0.3s;

    &--active {
      width: 100%;
    }

    @media (min-width: $screen-lg) {
      min-width: 50vw;
    }
  }

  &__descr {
    display: block;
    max-height: 400px;
    color: $white;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
  }
}
