.reviews {
  display: block;
  padding: 0;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
  }

  &__item {
    display: block;
    width: 50%;
    height: 200px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: 0.3s;

    &:hover {
      .reviews__content {
        display: block;
        opacity: 1;
        background-color: rgba(#2f3234, 0.73);
      }
    }

    @media (min-width: $screen-md) {
      height: 256px;
    }

    @media (min-width: $screen-lg) {
      width: 25%;
      height: 50%;
    }
  }

  &__content {
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 45px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
    opacity: 0;
    text-align: center;

    @media (min-width: $screen-lg) {
      padding-top: 50px;
      text-align: left;
    }
  }

  &__name {
    display: block;
    min-height: 56px;
    margin-bottom: 15%;
    color: $white;
    font-family: $font2;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.11px;
    text-align: center;

    @media (min-width: $screen-md) {
      min-height: 0;
      margin-bottom: 10px;
    }

    @media (min-width: $screen-lg) {
      text-align: left;
    }
  }

  &__text {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
      min-height: 100px;
      margin-bottom: 20px;
      color: $white;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      text-align: center;
    }

    @media (min-width: $screen-lg) {
      text-align: left;
    }
  }

  &__read-more {
    display: inline-block;
    vertical-align: top;
    padding: 12px 16px;
    border-radius: 5px;
    background-color: #2f3234;
    color: $white;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    text-transform: uppercase;
    transition: 0.3s;

    &:hover {
      color: $white;
      background-color: darken(#2f3234, 15%);
    }
  }

  @media (min-width: $screen-lg) {
    text-align: left;
  }
}
