.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  background-image: url("../img/welcome-bg-small.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &__content {
    display: block;
    text-align: center;
  }

  &__burger {
    display: block;
    position: relative;
    width: 260px;
    height: 270px;
    margin: 15px auto;

    @media (min-width: $screen-sm) {
      width: 333px;
      height: 339px;
      margin: 0 auto 50px auto;
    }

    @media (min-width: $screen-md) {
      width: 417px;
      height: 424px;
    }
  }

  &__burger-drops {
    position: absolute;
    top: 45px;
    left: -13px;

    @media (min-width: $screen-sm) {
      top: 53px;
    }

    @media (min-width: $screen-md) {
      top: 70px;
    }
  }

  &__burger-img {
    display: block;
  }

  &__info {
    display: block;
  }

  &__title {
    display: block;
    color: $color3;

    @media (min-width: $screen-md) {
      margin-bottom: 30px;
    }
  }

  &__descr {
    display: block;
    color: $white;
    font-family: $font1;
    font-size: 44px;
    font-weight: 500;
    line-height: 60.05px;

    @media (min-width: $screen-sm) {
      font-size: 54px;
      line-height: 50.05px;
    }

    @media (min-width: $screen-md) {
      max-width: 60%;
      margin: 0 auto;
      font-size: 65px;
      font-weight: 500;
      letter-spacing: -1.63px;
      line-height: 60.12px;
    }
  }

  &__read-more {
    display: block;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -14px;
    width: 25px;
    height: 25px;
    border-bottom: 2px solid $white;
    border-right: 2px solid $white;
    transform: rotate(45deg);

    @media (min-width: $screen-md) {
      bottom: 40px;
    }
  }
}
